<main class="py-4 px-8 max-w-7xl mx-auto">
  <h1 class="text-2xl font-semibold text-center mt-2 mb-5">
    Seja bem vindo ao meu desafio!
  </h1>
  @if(infras.length === 0){
    <p class="text-lg p-4 text-center text-gray-400">
      Não foram cadastradas nenhuma infraestrutura...
    </p>
  }@else {
    <table class="block">
      <thead class="grid grid-cols-[1fr_repeat(3,14%)] items-center gap-x-8 px-6 py-5 bg-dark-gray">
        @for(header of headers; track $index){
          <th class="xborder-2 text-left font-semibold">{{header}}</th>
        }
      </thead>
      <tbody class="grid">
        @for(infra of infras; track $index){
          <!-- {{ infra | json }} -->
          <app-infraestructure
            [name]="infra.name"
            [functionalAmount]="infra.functionalAmount"
            [nonFunctionalAmount]="infra.nonFunctionalAmount"
            [inputsDisabled]="$first" />
          <!-- <tr class="grid grid-cols-[1fr_repeat(3,14%)] items-center gap-x-8 px-9 border-y border-y-gray-300/70 bg-light-gray/40">
            <td class="xborder border-gray-300 py-5">
              {{infra.name}}
            </td>
            <td class="">
              <input type="number" name="" id="" min="0" [value]="infra.functionalAmount"
              class="border border-gray-400/70 px-3 py-2 w-full" />
            </td>
            <td>
              <input type="number" name="" id="" min="0" [value]="infra.nonFunctionalAmount"
              class="border border-gray-400/70 px-3 py-2 w-full" />
            </td>
            <td>
              <input type="number" name="" id="" min="0" [value]="0"
              class="border border-gray-400/70 px-3 py-2 w-full" />
            </td>
          </tr> -->
        }
      </tbody>
    </table>
  }
  <button type="button" (click)="dialog.showModal()"
    class="block bg-blue px-16 py-5 mt-7 text-2xl font-semibold text-white ml-auto outline-none rounded">
    Cadastrar
  </button>

  <dialog #dialog class="p-4 max-w-2xl outline-none overflow-visible
  mt-24 backdrop:bg-black/20 backdrop:backdrop-blur-sm rounded-sm">
    <div class="flex">
      <h1 class="text-2xl font-semibold">Cadastro de Infraestrutura</h1>
      <button type="button" (click)="infraForm.resetForm(); dialog.close();"
      class="block ml-auto px-2 bg-gray-100 mb-3 text-3xl aspect-square rounded-full
      backdrop:bg-red-700">
        ×
      </button>
    </div>

    <!-- {{ infraForm.value | json }} -->
    <form #infraForm="ngForm" method="dialog" (ngSubmit)="onSubmit(infraForm)"
    (keydown.enter)="$event.preventDefault()">
      <p class="text-sm text-gray-400 italic mb-3">
        Obs.: As labels sucedidas por um<span class="required"></span> indicam que os respectivos campos são obrigatórios.
      </p>
      <fieldset class="space-y-3 mb-4">
        <div>
          <div class="flex justify-between items-end">
            <label for="name" class="required">Nome da Infraestrutura</label>
            <span class="text-gray-500 pl-1">
              {{infraNameInput.maxLength - infraNameInput.value.length}}/{{infraNameInput.maxLength}}
            </span>
          </div>
          <input #infraNameInput #infraNameModel="ngModel" type="text" placeholder="Nome da infraestrutura" autofocus maxlength="40" required
          [(ngModel)]="infraFormModel.name" name="name" id="name" class="input w-full" (blur)="trimName()"
          [class.border-red-600]="infraNameModel.dirty && infraNameModel.invalid"
          [class.border-green-600]="infraNameModel.dirty && infraNameModel.valid" />
          @if(infraNameModel.dirty && infraNameModel.invalid){
            <p class="text-sm mt-1 text-red-600">
              O nome é obrigatório
            </p>
          }
        </div>

        <div class="flex gap-x-2">
          <div>
            <label for="functionalAmount" class="required">Funcionais</label>
            <input #infraFunctionalAmountModel="ngModel" type="number" name="functionalAmount" id="functionalAmount"
            min="0" [(ngModel)]="infraFormModel.functionalAmount" class="input"
            [class.border-red-600]="infraFunctionalAmountModel.dirty && infraFunctionalAmountModel.invalid"
            [class.border-green-600]="infraFunctionalAmountModel.dirty && infraFunctionalAmountModel.valid" required />
            @if(infraFunctionalAmountModel.hasError('required')){
              <p class="text-sm mt-1 text-red-600">
                Este campo é obrigatório
              </p>
            } @if(infraFunctionalAmountModel.hasError('min')){
              <p class="text-sm mt-1 text-red-600">
                Não são permitidos valores negativos
              </p>
            }
          </div>

          <div>
            <label for="nonFunctionalAmount" class="required">Não Funcionais</label>
            <input #infraNonFunctionalAmountModel="ngModel" type="number" name="nonFunctionalAmount" id="nonFunctionalAmount"
            min="0" [(ngModel)]="infraFormModel.nonFunctionalAmount" class="input"
            [class.border-red-600]="infraNonFunctionalAmountModel.dirty && infraNonFunctionalAmountModel.invalid"
            [class.border-green-600]="infraNonFunctionalAmountModel.dirty && infraNonFunctionalAmountModel.valid" required />
            @if(infraNonFunctionalAmountModel.hasError('required')){
              <p class="text-sm mt-1 text-red-600">
                Este campo é obrigatório
              </p>
            }
            @if(infraNonFunctionalAmountModel.hasError('min')){
              <p class="text-sm mt-1 text-red-600">
                Não são permitidos valores negativos
              </p>
            }
          </div>

          <div class="">
            <label for="total" class="required after:invisible">Total</label>
            <input type="number" name="totalAmount" id="total" disabled
            [value]="total" class="input" />
          </div>
        </div>

      </fieldset>
      <button type="submit" [disabled]="infraForm.invalid"
      class="block ml-auto text-white bg-blue px-5 py-2.5 rounded
      disabled:bg-blue/50 overflow-visible" appToolTip="Preencha correctamente todos os campos">
        Concluído
      </button>
    </form>

  </dialog>
</main>
